.cust_btn{

    background-color: var(--main-color) !important;
    font-size: 14px !important;
    color: black !important;
    font-weight: 500 !important;
    border: 0 !important;
    border-radius: 50px !important;
    padding: 1px 12px !important;
    line-height: 35px !important;
    min-width: 100px !important;
    outline: none !important;
    position: relative;


}

.icon_container{
    background-color: white !important;
    border-radius: 50px !important;
    height: 27px !important;
    width: 27px !important;
    line-height: 29px !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

}

.glance {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 1;
    border-radius: 50px; 
    overflow: hidden; 
    transition: top 0.3s ease, opacity 0.3s ease; 
  }
  
  .cust_btn:hover .glance {
    top: 0; 
  }


.btn_text{

    font-size: 14px !important;
    text-transform: none !important;
    text-align: center;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}


.icon_container > .MuiSvgIcon-root{
    font-size: 16px !important;
}