.timeline{
    padding: 0 !important;
}


.timeline .timeline_header{
    padding-top: 6px !important;
}

.timeline .timeline_firstitem {
    min-height: 80px !important;

}


.timeline .MuiTimelineItem-root {
    min-height: 0px !important;
}

.timeline .MuiTimelineItem-missingOppositeContent:before{
    display: none !important; 
}


.timeline .timeline_dot_header {
    /* color: white ; */
    color: white;
    /* background-color: #b1c5ba 	; */
    /* background-color: #EFEB99 	; */
    background-color: var(--main-color);
    font-size: small !important;
    padding: 10px !important;
}


.timeline .timeline_dot{
    border-color: var(--main-color);
    padding: 2px !important;

}

.timeline .MuiTimelineConnector-root{
    background-color: #eee !important ;
}

.timeline .timeline_dot_header > .MuiSvgIcon-root{
    font-size: 20px !important;
    /* color: darkslategray; */
}


.timeline .seperator_padding{
    padding-left: 18px !important ;
}


.timeline .timeline_content{
    padding-top: 40px !important ;
    margin-bottom: 20px !important;
}

.MuiTimeline-root .MuiTimelineItem-positionRight:last-child .MuiTimelineConnector-root{
    display: none;
}